.detail {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__button {
    width: 80px;
    margin: 20px 0px;
    background-color: white;
    color: black;
    font-size: 14px;
    text-align: center;
    border: 2px solid aqua;
    padding: 3px 8px;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;

    @media (min-width: 768px) {
      width: 90px;
      margin-bottom: 30px;
      font-size: 16px;
      padding: 3px 8px;
      cursor: pointer;
    }
  }

  &__button:hover {
    background-color: aqua;
    box-shadow: 5px 5px 10px lightgreen;
    border: 2px solid black;
    font-weight: 600;
  }

  &__card {
    width: 300px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;

    @media (min-width: 768px) {
      flex-direction: row;
      width: auto;
    }

    &--text {
      padding: 20px;
      font-size: 18;
      line-height: 25px;
    }
  }
}

.notFound {
  height: 90vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__messagge {
    font-size: 20px;
    font-weight: 600;
    padding: 100px 10px;
    color: red;
    text-align: center;
    padding-bottom: 100px;

    @media (min-width: 768px) {
      font-size: 25px;
    }
  }
}
