.list {
  &__characters {
    padding: 25px 25px 50px 25px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    text-align: center;
    row-gap: 30px;

    @media (min-width: 500px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 768px) {
      padding: 50px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__message-noFound {
    padding: 0px 10px 300px 10px;
    font-size: 20px;
    color: red;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 25px;
    }
  }
}
