.list {
  padding: 0px 50px 100px 50px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  text-align: center;
  row-gap: 30px;
}
