.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__button {
    width: 70px;
    margin-bottom: 50px;
    background-color: white;
    border: 2px solid aqua;
    padding: 3px 8px;
  }

  &__card {
    background-color: aqua;
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    &--text {
      padding: 20px;
      font-size: 18;
      line-height: 25px;
    }
  }
}
