.form__name {
  color: white;
  background-color: black;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;

  &-label {
    margin: 0px 20px;
    @media (min-width: 768px) {
      margin-right: 20px;
    }
  }

  &-input {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: black;
    color: lightgreen;
    border: 2px solid aqua;
    padding: 5px;
    @media (min-width: 768px) {
      width: 250px;
    }
  }
}
