.form__name {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;

  &-label {
    margin-right: 20px;
  }

  &-input {
    width: 250px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: black;
    color: lightgreen;
    border: 2px solid aqua;
    padding: 3px;
  }
}
