* {
  font-family: 'Courier New', Courier, monospace;
}

main {
  background-color: black;
}

.title {
  font-size: 20px;
  color: lightgreen;
  text-align: center;
  padding: 0px 10px;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    font-size: 25px;
  }
}

.button__reset {
  width: 60px;
  font-size: 16px;
  background-color: white;
  border: 2px solid aqua;
  margin: 20px;
  padding: 2px;
  transition: background-color 0.3s ease;
  transition: box-shadow 0.3s ease;

  @media (min-width: 768px) {
    width: 70px;
    background-color: white;
    border: 2px solid aqua;
    padding: 3px 8px;
  }
}

.button__reset:hover {
  background-color: aqua;
  box-shadow: 5px 5px 10px lightgreen;
  border: 2px solid black;
  font-weight: 600;
}

.filters {
  font-size: 14px;
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}
