* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
  background-color: black;
}

.title {
  padding: 0px 10px;
  margin-bottom: 20px;
  font-size: 20px;
  color: lightgreen;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 25px;
  }
}

.filters {
  padding: 0px 25px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.button__reset {
  width: 70px;
  padding: 2px;
  font-size: 16px;
  text-align: center;
  background-color: white;
  border: 2px solid aqua;
  transition: background-color 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: border 0.5s ease;

  @media (min-width: 768px) {
    padding: 3px 8px;
  }
}

.button__reset:hover {
  background-color: aqua;
  box-shadow: 5px 5px 10px lightgreen;
  border: 2px solid black;
  font-weight: 600;
}
